html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 140px; /* footer height + 80px */
  padding-top: 60px;
}
#footer {
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #dddddd;
  border-bottom: none;
}
#footer p {
  margin-top: 20px;
}

.account-links a.btn {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}
