html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 140px; /* footer height + 80px */
  padding-top: 60px;
}
#footer {
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 0;
  background-image: url(../img/shattered-island.gif);
  border-top: 1px solid #dddddd;
  border-bottom: none;
}
#footer p {
  margin-top: 20px;
}


.navbar-fixed-top {
  background-image: url(../img/shattered-island.gif);
  font-weight: lighter;
}
